{% extends "base.html" %}

{% load static %}

{% block title %}
   My Favorite Books
{% endblock title %}

{% block sidenav %}
   {% for item in item_list %}
      <li>
          <a href="{{ item.link }}"> {{ item.item }}</a>
      </li>
   {% endfor %}
{% endblock sidenav %}

{% block content %}
<h1 align="center">My Favorite Books</h1>

<table align="center" border="2" width="400">
    <tr>
        <th>Book Name</th>
        <th>Book Price</th>
        <th>Book Picture</th>
    </tr>
   {% for favorite in favorites %}
     <tr>
         <td>
             <a href="{% url 'book_detail' book_id=favorite.id %}">
                 {{ favorite.name }}
             </a>
         </td>
         <td>
             {{ favorite.price }}
         </td>
         <td align="center">
              <img src="{{ favorite.get_image_url }}" height="60" width="60" alt="{{ favorite.name }}" />
         </td>
     </tr>
   {% empty %}
     <tr>
        <td colspan="3" align="center">You haven't favorited any books yet.</td>
     </tr>
   {% endfor %}
</table>

{% endblock content %}